@import "tailwindcss";

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Regular.ttf");
}

@theme {
  --font-canela: "Canela", serif;
}

@utility img-cover {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@utility btn {
  @apply font-semibold min-w-30 rounded px-4 py-2;
}

.hero-section {
  width: 100%;
  height: 100dvh;
  min-height: 500px;
  background-color: #fff6e5;
  background-image:
    radial-gradient(at center top, #fff6e5 60%, #ffdb96aa 120%),
    url("/images/bg-pattern.webp");
  background-repeat: no-repeat, repeat;
  background-size: 100%, 300px;
}

/* spinner */
.spinner {
  width: 22px;
  height: 22px;
  border: 2px solid #333;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
